/* RESET CSS */

html, body, h1 {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}

h1 {
    font-weight: bold;
    font-size: 2em;
}

/* FONTS */

@font-face {
    font-family: "Calligraffiti";
    src:url('/public/fonts/Calligraffiti.woff') format('woff'),
        url('/public/fonts/Calligraffiti.ttf') format('truetype'),
        url('/public/fonts/Calligraffiti.svg') format('svg'),
        url('/public/fonts/Calligraffiti.eot') format('eot')
}

@font-face {
    font-family: "Argh";
    src:url('/public/fonts/Aaargh-webfont.eot') format('eot'),
        url('/public/fonts//Aaargh-webfont.woff') format('woff'),
        url('/public/fonts/Aaargh-webfont.truetype') format('truetype'),
        url('/public/fonts/Aaargh-webfont.svg') format('svg');
}
  
  @font-face {
    font-family: "Philosopher";
    src:url('/public/fonts/Philosopher.eot') format('eot'),
        url('/public/fonts/Philosopher.svg') format('svg'),
        url('/public/fonts/Philosopher.ttf') format('truetype'),
        url('/public/fonts/Philosopher.woff') format('woff');
}

  @font-face {
    font-family: "AvantGarde";
    src:url('/public/fonts/avantgarde.svg') format('svg'),
        url('/public/fonts/avantgarde.ttf') format('truetype'),
        url('/public/fonts/avantgarde.woff') format('woff');
}

/* GENERAL */

.container {
    min-height: 100vh;
    padding-bottom: 20px;
    background-color: rgba(34, 130, 146, 0.5);
    color: rgb(24, 24, 24);
}

.article {
    border: 1px solid rgb(60, 139, 60);
    background: white;
    text-align: center;
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
}

.title {
    padding-top: 20px;
    text-align: center;
    color: rgb(60, 139, 60);
    text-shadow: 2px 1px 1px rgba(255, 255, 255, 0.5);
}

h1 {
    font-family: "Argh", "Arial", "sans-serif";
}

.bttn {
    height: 30px;
    border: none;
    text-align: center;
    background-color: rgba(60, 139, 60, 0.681);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    transition-property: background-color; 
    transition-duration: 0.5s; 
    font-family: Arial, Helvetica, sans-serif;
}

.bttn:hover {
    background-color: rgba(60, 139, 60, 1);
}

.line {
    border-bottom : 0.1px solid rgba(60, 139, 60, 0.3);
}

.short_line {
    width: 50%;
    margin: auto;
    border-bottom : 0.2px solid rgba(3, 2, 2, 0.3);
}

.top { /* Laisser un espace entre line & bttn */
    margin-top: 10px;
}

.bottom { /* Laisser un espace entre line & bttn */
    margin-bottom: 10px;
}

.buttons_list {
    text-align: center;
}

.pagination_block {
    text-align: center;
}

.current {
    cursor: default;
    border: 1.5px solid black;
    background-color: rgba(60, 139, 60, 1);
}

/* ERRORS VIEW */

.error_block {
    border: 2px solid rgb(60, 139, 60);
    background: white;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(243, 237, 237, 0.563);
}

.error {
    color: rgb(60, 139, 60);
    font-weight: bold;
}

.error_block i {
    font-size: 4em;
}

.warning {
    color: red;
    font-weight: bold;
}

.red { /* boutton "CONFIRMER" pour supprimer un article */
    background-color: rgba(175, 19, 19, 0.681);
}

.red:hover {
    background-color: rgba(175, 19, 19, 1)
}

/* HEADER */

.head_block {
    z-index: 2;
    height: 0px;
    width: 100%;
    position: fixed;
    padding-top: 10px;
}

.admin_connexion {
    margin-left: 90%;
}
   
.admin_connected {
    margin-left: 88%;
}

.admin_connected .bttn {
    margin: 2px;
}


/* WELCOME BLOCK */

.welcome_block {
    z-index: 0;
    height: 100vh;
    background-color: white; /* SI L'IMAGE NE S'AFFICHE PAS */
    background: url('/public/images/alaska_wall.jpg') no-repeat center fixed;
    background-size: cover;
    position: relative;
}

.welcome_content {
    width: 50%;
    padding-left: 225px;
    text-shadow: 3px 1px 5px black;
}

.novel_title {
    font-family: "Calligraffiti", "Arial", "sans-serif";
    color: rgba(255, 255, 255, 0.9);
    font-size: 2em;
    padding-top: 20%;
}

.novel_author {
    font-family: "Argh", "Arial", "sans-serif";
    padding-left: 300px;
    color: rgba(255, 255, 255, 0.5)
}

.arrow_next i {
    position: absolute;
    top: 52%;
    left: 53%;
    font-size: 3em;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.arrow_next i:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

/* INTRODUCTION BLOCK  */

.introduction_block {
    height: 100vh;
    background-color: rgba(34, 130, 146, 0.5);
    padding-top: 20px;
}

.introduction_text {
    margin: auto;
}

.introduction_text p {
    font-family: "Philosopher", "Arial", "sans-serif";
    text-shadow: 3px 1px 5px black;
    color: white;
    font-size: 2em;
    padding: 10px 0 20px 20%;
}

.intro_text_2 {
    padding-left: 220px;
}

.introduction_navLogo {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navLogo {
    margin: auto;
    width: 20%;
    height: 300px;
    text-align: center;
    color: white;
    font-family: "Argh", Helvetica, sans-serif;
    background-color: rgba(243, 237, 237, 0.263);
    border-radius: 10px;
}

.navLogo .bttn {
    margin-top: 0;
}

.navLogo:hover {
    background-color: rgba(243, 237, 237, 0.739);
    color: black;
}

.navLogo i {
    font-size: 3em;
}

.actualPost {
    padding-top: 20px;
    margin: auto;
}

/* POST VIEW */

.nav_chapters_smartphone {
    display: none;
}

.light_block {
    position: fixed;
    width: 15%;
}

.lightMode  {
    position: relative;
    font-size: 3em;
    padding: 20px 0;
    height: 65px;
}

.lightMode i {
    cursor: pointer;
}

#dark {
    position: absolute;
    left: 40%;
    color: black;
}

#bright {
    display: none;
    position: absolute;
    color: white;
    left: 40%;
}

.article_content {
    width: 90%;
    margin: auto;
    text-align: center;
    word-wrap: break-word;
    font-family: "AvantGarde", "Arial", "sans-serif";
}

.article_img img {
    width: 400px;
    margin: auto;
}

.comment {
    font-family: "Roboto", "Arial", "sans-serif";
}

.comment .short_line {
    width: 10%;
    border-bottom : 0.2px solid rgba(151, 136, 136, 0.5);
}

.add_comment_block {
    margin-bottom: 30px;
}

textarea, input{
    font-family: "Roboto", "Arial", "sans-serif";
    border: 0.5px solid rgb(60, 139, 6);
    border-radius: 2px;
    padding: 5px;
    line-height: 1.1;
}

.g-recaptcha {
    display: inline-block;
}

.comment_info {
    font-size: 0.8em;
}

.comment_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.comment_icn i {
    color: rgba(245, 16, 16, 0.5);
    font-size: 1.2em;
    cursor: pointer;
    padding-top: 16px;
    padding-left: 5px;
}

.comment_icn i:hover {
    color: rgb(245, 16, 16);
}

#legitimateComment /* USER ICON */ {
    color: rgba(99, 214, 99, 0.5);
}

#legitimateComment:hover /* USER ICON */ {
    color: rgb(99, 214, 99);
}

/* POSTS LIST VIEW */

.bloc_articles {
    padding-top: 20px;
    font-family: "AvantGarde", "Arial", "sans-serif";
}

.bloc_articles .article {
    background-color: rgba(243, 237, 237, 0.563);
}

.bloc_articles .article:hover {
    background-color: rgba(243, 237, 237, 1);
}

/* ADMIN SECTION VIEW */

.connexion_block {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    height: 140px;
    text-align: center;
    border: solid 1px rgb(60, 139, 60);
    background-color: rgba(243, 237, 237, 0.563);
}

.block /* addAdmin & addPost depuis Administration */ {
    width: 180px;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto;
    cursor: pointer;
    padding: 5px;
    border: 0.4px solid silver;
    box-shadow: 1px 1px 0px white;;
}

.addPost {
    background-color: rgb(60, 139, 60);
}

.addPost p {
    font-weight: bold;
    color:  white
}

.addPost i {
    color: white;
    padding-right: 12px;
}

.addAdmin {
    margin-top: 20px;
    border: solid 1px rgb(103, 121, 221);
}

.addAdmin p {
    color:  rgb(103, 121, 221);
}

.addAdmin i {
    color:  rgb(103, 121, 221);
}

.reportedComments_block {
    width: 280px;
    height: 50px;
    text-align: center;
    margin: 10px auto;
}

.reportedComments_block p {
    color: rgba(175, 19, 19, 1);
    font-weight: bold;
}

.reported /* REPORTED VIEW BUTTON */ {
    background-color: rgba(175, 19, 19, 0.681);
    transition-property: background-color; 
    transition-duration: 0.5s; 
}

.reported:hover {
    background-color: rgba(175, 19, 19, 1);
}

.options_icn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
}

.post_options i {
    color: grey;
    transition-property: color; 
    transition-duration: 0.5s; 
    padding: 10px;
    cursor: pointer;
}

.editPost i:hover {
    color: rgb(39, 39, 211);
}

.deletePost i:hover {
    color: rgb(214, 99, 99);
}

.deleteComment i:hover {
    color: rgb(131, 66, 192);
}

.icnInList i {
    padding-top: 0;
}

/* ADMIN REPORTED COMMENTS VIEW */

.comment_options i {
    padding: 10px;
    cursor: pointer;
}

.deleteCommentIcn i {
    color: rgb(236, 25, 25);;
}

.legitimateComment i /* ADMIN ICON */ {
    color: rgb(99, 214, 99);;
}

/* ADMIN COMMENTS LIST */

.each_comment {
    font-family: "Roboto", "Arial", "sans-serif";
}

/* ADMIN CREATE POST VIEW */

#imgPostInput {
    border: none;
}

.createPost {
    border: 1px solid rgb(60, 139, 60);
    width: 90%;
    text-align: center;
    padding: 20px;
    margin: 30px auto;
    background-color: white;
}

.createPost textarea {
    width: 50%;
    height: 500px;
}

/* ADMIN EDIT POST VIEW */

.articleImage {
    position: relative;
    width: 200px;
    margin: auto;
    color: red;
    font-size: 2em;
}

#deletePostImgIcn {
    position: absolute;
    top: 0;
    right: 2%;
    cursor: pointer;
    text-shadow: 2px 1px 2px black;
    ;
}

#deletedImageCheck {
    display: none;
}

/* MEDIA QUERY */

    /* PETIT ECRAN */
    @media all and (max-width: 1400px) { 

        /* WELCOME BLOCK */

        .arrow_next i {
            top: 60%;
        }

        /* INTRODUCTION BLOCK */

        .introduction_block {
            height: 100%;
        }

        .introduction_text p {
            padding: 10px 0 0 12%;
        }

        .intro_text_2 {
            padding-left: 150px;
        }

        /* POST VIEW */

        .article_img img {
            width: 300px;
        }

  }

    /* SMARTPHONE */
    @media all and (max-width: 600px) {

        /* GENERAL */

        .title {
            padding-top: 40px;
        }

        /* ERRORS VIEW */

        .error_block {
            width: 90%;
            margin: auto;
            padding-left: 10px;
            padding-right: 10px;
        }

        /* HEADER */
        
        .head_block {
            padding-top: 0px;
        }

        .admin_connexion {
            margin-left: 0%;
        }
        
        .admin_connected {
            margin-left: 0%;
        }

        .admin_connected .bttn {
            margin: 0px;
        }
        
        /* WELCOME BLOCK */
        
        .arrow_next i {
            top: 35%;
        }

        .welcome_block {
            max-width: 100%;
        }

        .welcome_content {
            text-shadow: 3px 1px 5px black;
            width: 70%;
            padding-left: 60px;
        }

        .novel_title {
            font-size: 1.5em;
            text-align: center;
        }

        .novel_author {
            padding-left: 0;
            text-align: center;
            font-size: 0.8em;
        }

        /* INTRODUCTION BLOCK */ 

        .introduction_text p {
            font-size: 1.2em;
            text-align: center;
            padding: 0;
        }

        .intro_text_2 {
            padding-left: 0px;
        }

        .introduction_navLogo {
            padding-top: 0;
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            justify-items: center;
        }

        .navLogo {
            margin-top: 10px;
            width: 70%;
            height: 300px;
            text-align: center;
            color: white;
            font-family: "Argh", Helvetica, sans-serif;
            background-color: rgba(243, 237, 237, 0.263);
            border-radius: 10px;
        }

        /* POST VIEW */

        .nav_chapters {
            display: none;
        }

        .nav_chapters_smartphone {
            display: block;
        }

        .on_top { /* NAV_CHAPTERS EN HAUT DE PAGE */
            padding-top: 25px;
        }

        .light_block {
            position: absolute;
        }

        .lightMode {
            font-size: 2em;
        }

        #dark {
            top: 35%;
            left: 20%;
        }

        #bright {
            top: 35%;
            left: 20%;
        }

        .article {
            width: 100%;
        }

        .each_post, .comment {
            font-size: 1em;
            border-right: none;
            border-left: none;
        }

        .article_content {
            width: 100%;
        }

        .each_post 

        .each_post .article_img img {
            width: 200px;
        }

        /* POSTS LIST VIEW */

        .article img {
            width: 100px;
        }

        /* ADMIN SECTION VIEW */

        .connexion_block {
            width: 80%;
            height: 180px;
        }

        /* ADMIN CREATE POST VIEW */

        .createPost input {
            width: 100%;
        }

    
    
    }
